<h1>About Us</h1>

<p>Gallery Online is a platform that enables the modern art enthusiast to enjoy and purchase art from the comfort of their home. 
Different exhibitions will be displayed often on the platform, and regular pieces will feature for longer periods of time. </p>

